.slide {

    /* 
     * Additional outer styling should be controlled by slide-container, 
     * but defaults can be set here 
     */
    transition: opacity .3s linear,
                visibility .3s linear;
    
    
    //////////////////////////
    // Inner elements
    //////////////////////////
    
    .slide__background {
        @extend %centered-background-image--cover;
        @extend %absolute-fill;
        
        /* Slight opacity to enhance text-readability on dark backgrounds */
        opacity: 0.9; 
        
        /* Behind slide content */
        z-index: 1;
    }
    
    .slide__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
    }
    
    .slide__title {
        margin-bottom: 0.5rem;
        line-height: 1em;
    }
    
    .slide__description {
        font-size: 1.4rem;
        color: $font-color__button--white-on-dark-background;
        margin: 0;
    }
        
    
    
    /////////////////// Base Component Media Queries /////////////////////
    @media only screen and (min-width: #{map-get($map__breakpoint-sizes, 'small')}) {        
        .slide__title {
            margin-bottom: 1rem;    
        }
    }

    /////////////////// Base Component Media Queries /////////////////////
    @media only screen and (min-width: 56em) {        
        .slide__title {
            margin-bottom: 1rem;    
        }
    }
            
}